<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <httpModules>
      <clear />
      <add name="HttpModule_ProcessManifest" type="MazeComputer.AspManifestHelpers.HttpModule_ProcessManifest, AspManifestHelpers" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <customErrors mode="Off" />
        <globalization fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpModule_ProcessManifest" type="MazeComputer.AspManifestHelpers.HttpModule_ProcessManifest, AspManifestHelpers" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
     <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <add name="html" path="*.html1" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
      <add name="AVFPHandler" path="*.avfp" verb="*" type="AVFPHandler" resourceType="Unspecified" requireAccess="Script" />
      <add name="AVFPRESTHandler" path="*." verb="*" type="AVFPHandler" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.execu" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
	</handlers>
        <defaultDocument>
            <files>
				<add value="default.avfp" />
                <add value="index.html" />                
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>