<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <httpModules>
      <clear/>
      <add name="HttpModule_ProcessManifest" type="MazeComputer.AspManifestHelpers.HttpModule_ProcessManifest, AspManifestHelpers" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpModule_ProcessManifest" type="MazeComputer.AspManifestHelpers.HttpModule_ProcessManifest, AspManifestHelpers" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
        <files>    
           <clear/>    
           <add value="default.avfp" />
         </files>
    </defaultDocument>
     <handlers>
      <add verb="*" path="*.avfp"
        name="AVFPHandler"
        type="AVFPHandler"/>
      <add verb="*" path="*"
        name="AVFPRESTHandler"
        type="AVFPHandler"/>
    </handlers>
  </system.webServer>
</configuration>