<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings />
  <connectionStrings />
  <system.web>
    <authentication mode="Windows" />
    <httpModules>
          </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.diagnostics>
      </system.diagnostics>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="AVFPRESTHandler" />
            <remove name="AVFPHandler" />
        </handlers>
  </system.webServer>
</configuration>